@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
:root {
    /*Primary color*/
    --primary-dark-blue : hsl(233,47%,7%) ;
    --primary-blue : hsl(244, 38%, 16%) ;
    --primary-soft : hsl(277, 64%, 61%) ;
    /* Neutral Color */
    --neutral-white : hsl(0, 0%, 100%) ;
    --neutral-transparent-main : hsla(0, 0%, 100%, 0.75) ;
    --neutral-transparent-heading : hsla(0, 0%, 100%, 0.6) ;
    /* Typography */
    --font-size : 15px ;
    --font-Lexend: 'Lexend Deca', sans-serif;
    --font-inter: 'Inter', sans-serif;
}

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    background-color: var(--primary-dark-blue);
    font-size: var(--font-size);
    color: var(--neutral-white);
    font-family: var(--font-inter);
    font-weight:800;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

.Card {
    max-width: 68vw;
    height: 70vh;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: var(--primary-blue);
    display: flex;
}

.Card .IMG {
    max-width: 100%;
}

.Card .IMG > img {
    max-width: 100%;
    height: 100%;
    transform-origin: left center;
    background-color: var(--primary-soft);
    mix-blend-mode:luminosity;
     
}

.Card .Card-Stats {
    width: 50%;
    padding: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.Card > .Card-Stats .text {
    width: 25vw;
    height: auto;
}

.Card > .Card-Stats .text > h2 {
    font-size: 2rem;
    font-family: var(--font-Lexend);
    & span {
        color : var(--primary-soft)
    }
    margin-bottom: 20px;
}

.Card > .Card-Stats .text p {
    color: var(--neutral-transparent-heading);
    font-weight: 400;
    margin-bottom: 50px;
    width: 90%;
}



.Card > .Card-Stats .state {
    display: flex;
    width: 100%;

}

.Card > .Card-Stats .state :is(.Companies , .Templates) {
    margin-right: 1vw;
    text-align: center;
}




.Card > .Card-Stats .state :is(.Companies , .Queries , .Templates) {
   & b{

    text-align: center ;
    font-size: 23px;
   }
   
   
    & p{
        color: var(--neutral-transparent-heading);
        font-weight: 400;
        font-family: var(--font-inter);
        font-size: 12px;
    }
}
/* Responsive */
@media ( 100px <= width <=780px ) {
   

    .Card {
      
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        height: auto;
        margin-top: 20%;
    }
    .Card .Card-Stats .text  {
        
        display: flex;
        width: 67vw;
        justify-content: space-between;
        flex-direction: column;
        justify-content: center;
    }

    .Card .Card-Stats {
        display: flex;
        flex-direction: column;

        align-items: center;
        margin: 0px auto;
    }

    .Card .Card-Stats .text h2 {
        text-align: center;
        font-size: 24px;
    }

    .Card .Card-Stats .text p {
        text-align: center;
        margin-left: 6%;
    }

    :is(.Card , .IMG>img) {
        border-top-left-radius:20px;
        border-top-right-radius:20px;
    }

    .Card .Card-Stats .state {
        display: flex ;
        flex-direction: column;
        align-items: center;
    }

    .Card .Card-Stats .state :is(.Companies , .Templates) {
        margin-bottom: 25px;
    }
}